<table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td width="210" valign="bottom" height="36" bgcolor="#003366"><font size="4" face="Arial" color="#FFFFFF"><u><center><b>WW Channels</b></center></u></font></td> <td width="118"><img src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/top_lines.gif" width="163" height="36"></td><td bgcolor="#336699" valign="top" width="662"><table width="100%" border="0" cellpadding="0" cellspacing="0"><tbody><tr bgcolor="#003366"><td><table border="0" cellpadding="0" cellspacing="0" align="right">
                            <tbody><tr><form method="post" action="http://directory.cisco.com/index.cgi"></form>
                                <td width="341" height="28" valign="middle"><div align="right">
                                        <img src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/navbar.gif" width="341" height="28" border="0" alt="CEC Toolbar" usemap="#navbar"></div>
                                    <map name="navbar"><area alt="" coords="-5,4,33,26" href="http://wwwin.cisco.com/" shape="RECT">
                                        <area alt="" coords="38,2,76,30" href="http://www.cisco.com/">
                                        <area alt="" coords="80,3,121,27" href="http://wwwin.cisco.com/search.html" shape="RECT">
                                        <area alt="" coords="125,3,165,26" href="http://wwwin.cisco.com/sites.html">
                                        <area alt="" coords="169,3,214,26" href="http://wwwin.cisco.com/cisco/support/">
                                        <area alt="" coords="218,4,281,25" href="javascript:Feedback()">
                                        <area alt="" coords="287,4,339,25" href="http://directory.cisco.com/"></map>
                                </td> <td height="28" valign="middle"><font face="Arial, Helvetica, sans-serif" size="-2">&nbsp;
                                        <input type="text" name="name" enctype="text" size="10"></font>
                                </td> <td height="28" valign="bottom"> &nbsp;
                                    <input type="image" src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/go.gif" alt="go" height="21" width="31" border="0" name="image">&nbsp; </td></tr></tbody></table>
                    </td></tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0"> <tbody><tr>
                    <td width="547"><div align="right">
                            <img src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/gradient.gif" width="59" height="8"></div>
                    </td><td bgcolor="#FFFFFF" width="70" height="2">
                        <img src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/transpixel.gif" width="98" height="5" border="0" alt=""></td>
                </tr></tbody></table>
        </td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr>
        <td width="190" valign="top" height="28" bgcolor="#003366" align="left">&nbsp;&nbsp;&nbsp;</td>
        <td width="850" valign="top" bgcolor="#336699">
            <div align="right"><img src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/gradient.gif" width="59" height="35"></div>
        </td> <td rowspan="2" width="98" valign="middle">
            <div align="right"><img src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/ciscologo.gif" width="85" height="49"></div>
        </td>  </tr>  <tr>  <td bgcolor="#CCCCCC" align="right" width="190">&nbsp; </td> <td width="682">&nbsp;&nbsp;
            <b>BE Management Tools Link</b></td>  </tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr> <td width="761" bgcolor="#336699">&nbsp;</td> </tr></tbody></table><table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td colspan="3"></td></tr></tbody></table><table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tbody><tr>
        <td>
            <font size="2" face="Arial" color="#000000"><form name="BEAdmin">
                    <script language="javascript">
                        function callWindow(url) {
                            var newWindow = window.open("","","scrollbars=yes,resizable=yes,height=600,width=900");
                            newWindow.location = url;
                        }

                    </script>
                    &nbsp;&nbsp;&nbsp;&nbsp;</form></font></td></tr><tr></tr></tbody></table><table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP"><tbody><tr><td bgcolor="#669999"><font face="arial,helvetica" color="white" size="-1"><b>&nbsp;BE Grouping Tool</b></font></td><td valign="top" align="right" bgcolor="#669999"><img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td></tr><tr><td bgcolor="lightgrey" colspan="2"><table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF"><tbody><tr align="left">
                    <td colspan="2" bgcolor="#FDFFD5">
                        <font face="Arial, Helvetica, sans-serif" size="-1">
                            <b>This tool is used for grouping the BE's and Degroup the existed grouped BE's.
                               You can able to fix the conflicts under BE Attributes like Qualifications, Web Addresses and Company Description.</b>
                        </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="2">
                        <b>
                            <font size="2" face="Arial" color="#00FF00">
                                <a href="/wwchannels/cpApp/Admin/Company_Grouping_Tool/begrp/search.do">BE Grouping Tool Link</a>
                            </font>
                        </b>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="2">
                        <font size="2" face="Arial" color="#000000"><a href="javascript:callWindow('/wwchannels/cpApp/Admin/PDB_BE_Admin/be_group_help.html')">Help</a>
                        </font>
                    </td>
                </tr>
                </tbody></table>
        </td>
    </tr></tbody></table>





<table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP"><tbody><tr><td bgcolor="#669999"><font face="arial,helvetica" color="white" size="-1"><b>&nbsp;BE Attributes Tool</b></font></td><td valign="top" align="right" bgcolor="#669999"><img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td></tr><tr><td bgcolor="lightgrey" colspan="2"><table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF"><tbody><tr align="left">
                    <td colspan="3" bgcolor="#FDFFD5">
                        <font face="Arial, Helvetica, sans-serif" size="-1">
                            <b>This tool is used for View/Change BE Attributes.
                               You can able to add,update and delete the attributes like
                               Qualification, Focuses, Web Address and Company Description.
                               Also, you can able to change the BE Name.</b>
                        </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3">
                        <b>
                            <font size="2" face="Arial" color="#00FF00">
                                <a href="/wwchannels/cpApp/Admin/PDB_BE_Admin/servlet/com.cisco.is.pdb_admin.PDBSearch">BE Attributes Tool Link</a>
                            </font>
                        </b>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3">
                        <font size="2" face="Arial" color="#000000"><a href="javascript:callWindow('/wwchannels/cpApp/Admin/PDB_BE_Admin/be_help.html')">Help</a>
                        </font>
                    </td>
                </tr>
                </tbody></table>
        </td></tr></tbody></table>

<table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP">
    <tbody><tr><td bgcolor="#669999"><font face="arial,helvetica" color="white" size="-1"><b>&nbsp;Channels Enterprise Data Administration</b></font></td>
        <td valign="top" align="right" bgcolor="#669999"><img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td>
    </tr>
    <tr><td bgcolor="lightgrey" colspan="2">
            <table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF"><tbody><tr align="left">
                    <td colspan="3" bgcolor="#FDFFD5">
                        <font face="Arial, Helvetica, sans-serif" size="-1">
                            <b>This tool is new version of BE Attribute Tool with new look and feel. It is used for View/Change of BE Attributes.
                               You will able to add,update and delete the attributes like
                               Qualification, Partner Type. Also, you will be able to change the BE Name.</b>
                        </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3">
                        <b>
                            <font size="2" face="Arial" color="#00FF00">
                                <a href="/wwchannels/cpApp/Admin/PDB_BE_Admin/codemgr/PdbWelcome.do?action=loadPage">Channels Enterprise Data Administration</a>
                            </font>
                        </b>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3">
                        <font size="2" face="Arial" color="#000000"><a href="javascript:callWindow('/wwchannels/cpApp/Admin/PDB_BE_Admin/be_help.html')">Help</a>
                        </font>
                    </td>
                </tr>
                </tbody></table>
        </td></tr></tbody></table>


&nbsp;&nbsp;&nbsp;&nbsp;

<table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP"><tbody><tr><td bgcolor="#669999"><font face="arial,helvetica" color="white" size="-1"><b>&nbsp;CSC Tracking Queue</b></font></td><td valign="top" align="right" bgcolor="#669999"><img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td></tr><tr><td bgcolor="lightgrey" colspan="2"><table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF"><tbody><tr align="left">
                    <td colspan="3" bgcolor="#FDFFD5">
                        <font face="Arial, Helvetica, sans-serif" size="-1">
                            <b>This tool is used for View/Change CSC firewall. You can view CSC Firewall cases and take
                               various actions on those.</b>
                        </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3">
                        <b>
                            <font size="2" face="Arial" color="#00FF00">
                                <a href="/wwchannels/cpApp/Admin/Company_Grouping_Tool/servlet/com.cisco.is.csc_filter.CscSearch">CSC Tracking Queue Link</a>
                            </font>
                        </b>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3">
                        <font size="2" face="Arial" color="#000000"><a href="javascript:callWindow('/wwchannels/cpApp/Admin/PDB_BE_Admin/be_help.html')">Help</a>
                        </font>
                    </td>
                </tr>

                </tbody></table></td></tr></tbody></table>&nbsp;&nbsp;&nbsp;&nbsp;
<table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP"><tbody><tr><td bgcolor="#669999">
            <font face="arial,helvetica" color="white" size="-1"><b>&nbsp;Code Management</b></font></td>
        <td valign="top" align="right" bgcolor="#669999">
            <img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td></tr>
    <tr><td bgcolor="lightgrey" colspan="2">
            <table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF"><tbody><tr align="left">
                    <td colspan="3" bgcolor="#FDFFD5">
                        <font face="Arial, Helvetica, sans-serif" size="-1">
                            <b>This tool is used for View/Change all PDB Code Tables.</b>
                        </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3">
                        <b><font size="2" face="Arial" color="#00FF00">
                                <a href="/wwchannels/cpApp/Admin/PDB_BE_Admin/codemgr/welcome.do">Code Translation</a>
                            </font>
                        </b>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3">
                        <font size="2" face="Arial" color="#000000"><a href="javascript:callWindow('/wwchannels/cpApp/Admin/PDB_BE_Admin/code_mgmt.html')">Help</a>
                        </font>
                    </td>
                </tr>

                </tbody></table>
        </td></tr></tbody></table>
&nbsp;&nbsp;&nbsp;&nbsp;

<table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP">
    <tbody><tr>
        <td bgcolor="#669999"><font face="arial,helvetica" color="white" size="-1"><b>&nbsp;AppUI Application Access Tool</b></font></td>
        <td valign="top" align="right" bgcolor="#669999"><img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td>
    </tr>
    <tr>
        <td bgcolor="lightgrey" colspan="2">
            <table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF">
                <tbody><tr align="left">
                    <td colspan="3" bgcolor="#FDFFD5"><font face="Arial, Helvetica, sans-serif" size="-1"> <b>This tool is
                                                                                                              used to assign access to Cisco Users for PDB Tools</b> </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3"><b><font size="2" face="Arial" color="#00FF00"> <a href="/wwchannels/cpApp/Admin/PDB_BE_Admin/codemgr/appUILogin.do">AppUI Application Access Tool</a> </font> </b></td>
                </tr>
                <tr align="left">
                </tr>

                </tbody></table>
        </td></tr>
    </tbody></table>
&nbsp;&nbsp;&nbsp;&nbsp;
<table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP">
    <tbody><tr>
        <td bgcolor="#669999"><font face="arial,helvetica" color="white" size="-1"><b>&nbsp;ICPA Document Upload Tool</b></font></td>
        <td valign="top" align="right" bgcolor="#669999"><img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td>
    </tr>
    <tr>
        <td bgcolor="lightgrey" colspan="2">
            <table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF">
                <tbody><tr align="left">
                    <td colspan="3" bgcolor="#FDFFD5"><font face="Arial, Helvetica, sans-serif" size="-1"> <b>This tool is
                                                                                                              used to Upload ICPA Documents</b> </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3"><b><font size="2" face="Arial" color="#00FF00"> <a href="/wwchannels/cpApp/Admin/PDB_BE_Admin/codemgr/icpaLogin.do">ICPA Document Upload Tool</a> </font> </b></td>
                </tr>
                <tr align="left">
                </tr>

                </tbody></table>
        </td></tr>
    </tbody></table>

<!--QWIN2863 Changes. Added this new MSCP section to display the link for the MSCP Admin Access page -->
&nbsp;&nbsp;&nbsp;&nbsp;
<table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP">
    <tbody><tr>
        <td bgcolor="#669999"><font face="arial,helvetica" color="white" size="-1"><b>&nbsp;MSCP Application Access Tool</b></font></td>
        <td valign="top" align="right" bgcolor="#669999"><img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td>
    </tr>
    <tr>
        <td bgcolor="lightgrey" colspan="2">
            <table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF">
                <tbody><tr align="left">
                    <td colspan="3" bgcolor="#FDFFD5"><font face="Arial, Helvetica, sans-serif" size="-1"> <b>This tool is
                                                                                                              used to Grant/Revoke MSCP Partner Administrator Access.</b> </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3"><b><font size="2" face="Arial" color="#00FF00"> <a href="/wwchannels/cpApp/Admin/PDB_BE_Admin/codemgr/mscpAdmin.do">MSCP Application Access Tool</a> </font> </b></td>
                </tr>
                <tr align="left">
                </tr>

                </tbody></table>
        </td></tr>
    </tbody></table>
<!-- QWIN2863 Changes End -->

<!--QWIN_CSAPP_INTERNAL Changes. Added this new QUAL CODE MANAGEMENT Section to display the link for the QUAL CODE MANAGEMENT PROGRAM -->
&nbsp;&nbsp;&nbsp;&nbsp;
<table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP">
    <tbody><tr>
        <td bgcolor="#669999"><font face="arial,helvetica" color="white" size="-1"><b>&nbsp;Qual Code Management Program</b></font></td>
        <td valign="top" align="right" bgcolor="#669999"><img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td>
    </tr>
    <tr>
        <td bgcolor="lightgrey" colspan="2">
            <table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF">
                <tbody><tr align="left">
                    <td colspan="3" bgcolor="#FDFFD5"><font face="Arial, Helvetica, sans-serif" size="-1"> <b>This tool is
                                                                                                              used to Add/Update/Remove Qual Codes.</b> </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3"><b><font size="2" face="Arial" color="#00FF00"> <a href="/wwchannels/cpApp/Admin/PDB_BE_Admin/codemgr/manageQualCode.do">Qual Code Management Program</a> </font> </b></td>
                </tr>
                <tr align="left">
                </tr>

                </tbody></table>
        </td></tr>
    </tbody></table>
<!-- QWIN_CSAPP_INTERNAL Changes End -->

<!-- QWIN_2942 Changes -->
&nbsp;&nbsp;&nbsp;&nbsp;
<table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP">
    <tbody><tr>
        <td bgcolor="#669999"><font face="arial,helvetica" color="white" size="-1"><b>&nbsp;Email Text Management Tool</b></font></td>
        <td valign="top" align="right" bgcolor="#669999"><img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td>
    </tr>
    <tr>
        <td bgcolor="lightgrey" colspan="2">
            <table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF">
                <tbody><tr align="left">
                    <td colspan="3" bgcolor="#FDFFD5"><font face="Arial, Helvetica, sans-serif" size="-1"> <b>This tool is
                                                                                                              used to Search/Add/Update Emails.</b> </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3"><b><font size="2" face="Arial" color="#00FF00"> <a href="/wwchannels/cpApp/Admin/PDB_BE_Admin/codemgr/manageEmailText.do">Email Text Management Tool</a> </font> </b></td>
                </tr>
                <tr align="left">
                </tr>

                </tbody></table>
        </td></tr>
    </tbody></table>
<!-- QWIN_2942 Changes End -->

&nbsp;&nbsp;&nbsp;&nbsp;
<table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP"><tbody><tr><td bgcolor="#669999">
            <font face="arial,helvetica" color="white" size="-1"><b>&nbsp;BE Assignment Tool (BAT)</b></font></td>
        <td valign="top" align="right" bgcolor="#669999">
            <img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td></tr>
    <tr><td bgcolor="lightgrey" colspan="2">
            <table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF"><tbody><tr align="left">
                    <td colspan="3" bgcolor="#FDFFD5">
                        <font face="Arial, Helvetica, sans-serif" size="-1">
                            <b>This tool is used for View/Change BE Assignment of Sites for Chatt.</b>
                        </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3">
                        <b><font size="2" face="Arial" color="#00FF00">
                                <a href="/WWChannels/BAT/">BE Assignment Tool</a>
                            </font>
                        </b>
                    </td>
                </tr>
                <tr align="left">
                </tr>

                </tbody></table>
        </td></tr></tbody></table>



&nbsp;&nbsp;&nbsp;&nbsp;


<table cellspacing="0" cellpadding="0" width="500" border="0" valign="ABSTOP"><tbody><tr><td bgcolor="#669999">
            <font face="arial,helvetica" color="white" size="-1"><b>&nbsp;Partner Locator-Keyword Mapping UI</b></font></td>
        <td valign="top" align="right" bgcolor="#669999">
            <img height="7" alt="." src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/cnr.gif" width="7"></td></tr>
    <tr><td bgcolor="lightgrey" colspan="2">
            <table cellspacing="2" cellpadding="2" width="500" border="0" bgcolor="#FFFFFF"><tbody><tr align="left">
                    <td colspan="3" bgcolor="#FDFFD5">
                        <font face="Arial, Helvetica, sans-serif" size="-1">
                            <b>This tool is used to map Partner Locator Keywords and Quals.</b>
                        </font>
                    </td>
                </tr>
                <tr align="left">
                    <td colspan="3">
                        <b><font size="2" face="Arial" color="#00FF00">
                                <a href="/wwchannels/cpApp/Admin/PDB_BE_Admin/codemgr/plmapping.do">Keyword Mapping UI</a>
                            </font>
                        </b>
                    </td>
                </tr>
                <tr align="left">
                </tr>

                </tbody></table>
        </td></tr></tbody></table>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody><tr valign="top" background="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/bg_footer.gif">
        <td background="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/bg_footer.gif" width="25">
            <img src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/transpixel.gif" width="1" height="7" border="0" alt="">
        </td> <td background="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/bg_blue.gif" width="920">
            <img src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/transpixel.gif" width="1" height="7" border="0" alt=""></td>
        <td background="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/bg_footer.gif" width="25">
            <img src="/wwchannels/cpApp/Admin/PDB_BE_Admin/images/transpixel.gif" width="1" height="7" border="0" alt=""></td></tr>
    </tbody></table><font face="Arial, Helvetica, sans-serif" size="-1"><b>Cisco Systems, Inc. Internal Use Only</b>
    <br> Managed by <a href="mailto:ww-channels-it@cisco.com"> WW Channels </a> Last modified on December, 2003 <p></p></font>

<script id="hiddenlpsubmitdiv" style="display: none;"></script><script>try{(function() { for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; if (typeof(lastpass_f.lpsubmitorig2)=='object'){ continue;}lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ if (typeof(d.innerText) != 'undefined') { d.innerText=i.toString(); } else { d.textContent=i.toString(); } } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }})()}catch(e){}</script>