<article class="">
  <h2>Partner Type Reports</h2>
  <p>extracted on
    <time datetime="2016-03-02 05:01:52+08:00">03/02/2016 05:01:52 PST</time>
  </p>
  <!--<p>-->
  <!--Legends:<br/>-->
  <!--AMERICAS - The Americas<br/>-->
  <!--APJ - Asia Pacific and Japan<br/>-->
  <!--EMEAR - Europe, Middle East, Africa, and Russia<br/>-->
  <!--GC - Greater China<br/>-->
  <!--</p>-->
  <h3>Partner Type Counts</h3>
  <table>
    <tbody>
    <tr>
      <td height="2"
          rowspan="2"
          width="245"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            <b>Item</b>
          </font>
        </div>
      </td>
      <td colspan="6"
          height="2"
          bgcolor="#FFFFFF">
        <p align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            <b>Theater</b>
          </font>
        </p>
      </td>
    </tr>
    <!-- table title start -->
    <tr>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            APJ
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            GC
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            EMEAR
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            AMERICAS
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            TOTAL
          </font>
        </div>
      </td>


    </tr>
    <!-- table title end -->


    <tr bgcolor="#FFFFFF">
      <td height="2"
          colspan="7"><font size="2"
                            face="Arial, Helvetica, sans-serif"><strong>DISTRIBUTOR</strong></font>
        <div align="center"></div>
      </td>
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Global
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=1&amp;theater=APJ&amp;downloadType=downloadTypeExcel">13</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=1&amp;theater=GC&amp;downloadType=downloadTypeExcel">2</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=1&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">53</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=1&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">19</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            87


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Regional
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=2&amp;theater=APJ&amp;downloadType=downloadTypeExcel">24</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=2&amp;theater=GC&amp;downloadType=downloadTypeExcel">10</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=2&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">47</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=2&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">6</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            87


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Specialty
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=3&amp;theater=APJ&amp;downloadType=downloadTypeExcel">11</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=3&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">73</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=3&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">40</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            124


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr bgcolor="#FFFFFF">
      <td height="2"
          colspan="7"><font size="2"
                            face="Arial, Helvetica, sans-serif"><strong>DVAR</strong></font>
        <div align="center"></div>
      </td>
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            ALLIANCES
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=4&amp;theater=APJ&amp;downloadType=downloadTypeExcel">4</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=4&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">24</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=4&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">10</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            38


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            CLP
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            DVAD
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=6&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">2</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            2


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            GSI
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=7&amp;theater=APJ&amp;downloadType=downloadTypeExcel">118</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=7&amp;theater=GC&amp;downloadType=downloadTypeExcel">30</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=7&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">297</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=7&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">184</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            629


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            LOCAL DVAR
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=8&amp;theater=APJ&amp;downloadType=downloadTypeExcel">64</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=8&amp;theater=GC&amp;downloadType=downloadTypeExcel">66</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=8&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">301</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=8&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">204</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            635


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            NATIONAL
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=9&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">16</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            16


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr bgcolor="#FFFFFF">
      <td height="2"
          colspan="7"><font size="2"
                            face="Arial, Helvetica, sans-serif"><strong>SP</strong></font>
        <div align="center"></div>
      </td>
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            CHALLENGER
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=10&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">43</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=10&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">7</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            50


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            COMBINED CARRIERS
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=11&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">1</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            1


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            INCUMBANT 1
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=12&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">1</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            1


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            INCUMBENT
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=13&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">8</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            8


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            MOBILE
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=14&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">3</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            3


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            SP
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=15&amp;theater=APJ&amp;downloadType=downloadTypeExcel">51</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=15&amp;theater=GC&amp;downloadType=downloadTypeExcel">16</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=15&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">187</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=15&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">100</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            354


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr bgcolor="#FFFFFF">
      <td height="2"
          colspan="7"><font size="2"
                            face="Arial, Helvetica, sans-serif"><strong>VAR</strong></font>
        <div align="center"></div>
      </td>
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            ALLIANCE
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=16&amp;theater=APJ&amp;downloadType=downloadTypeExcel">1</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=16&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">4</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=16&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">1</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            6


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            GSI
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=17&amp;theater=APJ&amp;downloadType=downloadTypeExcel">11</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=17&amp;theater=GC&amp;downloadType=downloadTypeExcel">2</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=17&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">40</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=17&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">22</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            75


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            SP
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=18&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">4</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=18&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">2</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            6


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            UNREGISTERED
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=19&amp;theater=APJ&amp;downloadType=downloadTypeExcel">3560</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=19&amp;theater=GC&amp;downloadType=downloadTypeExcel">1176</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=19&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">6907</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=19&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">8640</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            20283


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            VAR
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=20&amp;theater=APJ&amp;downloadType=downloadTypeExcel">10468</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=20&amp;theater=GC&amp;downloadType=downloadTypeExcel">4042</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=20&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">25909</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=20&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">22139</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            62558


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr bgcolor="#FFFFFF">
      <td height="2"
          colspan="7"><font size="2"
                            face="Arial, Helvetica, sans-serif"><strong>ALL PARTNER TYPES</strong></font>
        <div align="center"></div>
      </td>
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            ALL VAR PARTNER
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=98&amp;theater=APJ&amp;downloadType=downloadTypeExcel">10480</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=98&amp;theater=GC&amp;downloadType=downloadTypeExcel">4044</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=98&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">25957</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=98&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">22164</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            62645


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            ALL NON-VAR PARTNER
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=99&amp;theater=APJ&amp;downloadType=downloadTypeExcel">285</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=99&amp;theater=GC&amp;downloadType=downloadTypeExcel">124</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=99&amp;theater=EMEAR&amp;downloadType=downloadTypeExcel">1040</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/partnerDataMappingExcelView.do?type=2&amp;item=99&amp;theater=AMERICAS&amp;downloadType=downloadTypeExcel">586</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            2035


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    </tbody>
  </table>

  <small>*This file exceeds the Excel limitation of 50,000 rows. You will need to download & save the report in Text format. Proceed to
         split the file (using word or notepad) and then reopen in Excel.
  </small>
  <p>This information is Cisco Confidential.</p>
  <p>Send in your comments/questions to <a href="http://www.cisco.com/go/cs"> Cisco Customer Service Team</a>.</p>
</article>
<script>

</script>

