<article class="">
    <h2>Company Reports</h2>
    <p>extracted on
        <time datetime="2016-03-02 05:01:52+08:00">03/02/2016 05:01:52 PST</time>
    </p>
    <p>
        Legends:<br/>
        AMERICAS - The Americas<br/>
        APJ - Asia Pacific and Japan<br/>
        EMEAR - Europe, Middle East, Africa, and Russia<br/>
        GC - Greater China<br/>
    </p>
    <h3>Company Counts</h3>
    <table>
        <tbody>
        <tr>
            <td height="2"
                rowspan="2"
                width="245"
                bgcolor="#FFFFFF">
                <div align="center">
                    <font size="3"
                          face="Arial, Helvetica, sans-serif">
                        <b>Item</b>
                    </font>
                </div>
            </td>
            <td colspan="6"
                height="2"
                bgcolor="#FFFFFF">
                <p align="center">
                    <font size="3"
                          face="Arial, Helvetica, sans-serif">
                        <b>Theater</b>
                    </font>
                </p>
            </td>
        </tr>
        <!-- table title start -->
        <tr>


            <td width="50"
                bgcolor="#FFFFFF">
                <div align="center">
                    <font size="3"
                          face="Arial, Helvetica, sans-serif">
                        APJ
                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF">
                <div align="center">
                    <font size="3"
                          face="Arial, Helvetica, sans-serif">
                        GC
                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF">
                <div align="center">
                    <font size="3"
                          face="Arial, Helvetica, sans-serif">
                        EMEAR
                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF">
                <div align="center">
                    <font size="3"
                          face="Arial, Helvetica, sans-serif">
                        AMERICAS
                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF">
                <div align="center">
                    <font size="3"
                          face="Arial, Helvetica, sans-serif">
                        TOTAL
                    </font>
                </div>
            </td>


        </tr>
        <!-- table title end -->


        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Partners with no quals no sites
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Partners with sites no quals
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=2&amp;theater=APJ">1234</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=2&amp;theater=GC">1234</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=2&amp;theater=EMEAR">34</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=2&amp;theater=AMERICAS">34</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        119


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Partners with quals no sites
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Partners with sites no contacts
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=4&amp;theater=APJ">34234</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=4&amp;theater=GC">234</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=4&amp;theater=EMEAR">234</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=4&amp;theater=AMERICAS">23423</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        35152


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Partner location name mismatch
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=7&amp;theater=APJ">234</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=7&amp;theater=GC">324</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=7&amp;theater=EMEAR">2344</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=7&amp;theater=AMERICAS">4653</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        13782


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Partners that buy direct
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=8&amp;theater=APJ">546</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=8&amp;theater=GC">457</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=8&amp;theater=EMEAR">345</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=8&amp;theater=AMERICAS">345</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        1578


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Partners that buy indirect
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=9&amp;theater=APJ">23466</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=9&amp;theater=GC">3426</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=9&amp;theater=EMEAR">24632</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=9&amp;theater=AMERICAS">72457</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        62294


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Partners with no HQ
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=11&amp;theater=APJ">346</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=11&amp;theater=GC">4</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=11&amp;theater=EMEAR">2346</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=11&amp;theater=AMERICAS">180</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        323


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Partners with multiple HQ
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=12&amp;theater=APJ">107</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=12&amp;theater=GC">63</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=12&amp;theater=EMEAR">421</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=12&amp;theater=AMERICAS">3446</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        804


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Gold - Partners without Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Silver - Partners without Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Premier - Partners without Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Gold - Partners with at least (1) Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=17&amp;theater=APJ">345</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=17&amp;theater=GC">346</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=17&amp;theater=EMEAR">466</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=17&amp;theater=AMERICAS">743</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        894


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Silver - Partners with at least (1) Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=18&amp;theater=APJ">25</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=18&amp;theater=GC">34</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=18&amp;theater=EMEAR">345</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=18&amp;theater=AMERICAS">34</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        204


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Premier - Partners with at least (1) Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=19&amp;theater=APJ">2346</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=19&amp;theater=GC">346</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=19&amp;theater=EMEAR">2346</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=19&amp;theater=AMERICAS">6234</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        3957


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Registered - Partners without Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=21&amp;theater=APJ">46</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=21&amp;theater=GC">46</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=21&amp;theater=EMEAR">63</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=21&amp;theater=AMERICAS">54</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        84


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Specailized - Partners without Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=22&amp;theater=APJ">5</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=22&amp;theater=EMEAR">2</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        7


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        ATP - Partners without Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=23&amp;theater=EMEAR">5</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        4


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Distributor - Partners without Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Other - Partners without Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=25&amp;theater=APJ">46</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=25&amp;theater=GC">64</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=25&amp;theater=EMEAR">35</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=25&amp;theater=AMERICAS">235</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        85


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Registered - Partners with at least (1) Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=26&amp;theater=APJ">63146</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=26&amp;theater=GC">4631</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=26&amp;theater=EMEAR">12663</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=26&amp;theater=AMERICAS">63235</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        62890


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Specialized - Partners with at least (1) Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=27&amp;theater=APJ">3466</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=27&amp;theater=GC">366</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=27&amp;theater=EMEAR">7453</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=27&amp;theater=AMERICAS">3673</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        11031


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        ATP - Partners with at least (1) Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=28&amp;theater=APJ">6346</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=28&amp;theater=GC">634</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=28&amp;theater=EMEAR">346</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=28&amp;theater=AMERICAS">6324</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        1935


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Distributor - Partners with at least (1) Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=29&amp;theater=APJ">34</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=29&amp;theater=GC">345</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=29&amp;theater=EMEAR">355</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=29&amp;theater=AMERICAS">45</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        254


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Other - Partners with at least (1) Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=30&amp;theater=APJ">23456</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=30&amp;theater=GC">345</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=30&amp;theater=EMEAR">23456</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=30&amp;theater=AMERICAS">62346</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        62843


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Learning - Partners with at least (1) Partner Administrator
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=32&amp;theater=APJ">14</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=32&amp;theater=GC">6</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=32&amp;theater=EMEAR">33</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=32&amp;theater=AMERICAS">66</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        73


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>

        <tr>

            <!-- row title start -->
            <td width="180"
                bgcolor="#FFFFFF">
                <div align="left">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">
                        Diverse Partner Report
                    </font>
                </div>
            </td>

            <!-- row title end -->


            <!-- row data start -->


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=33&amp;theater=APJ">3</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        0

                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=33&amp;theater=EMEAR">634</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        <a href="./reports/action/excelView.do?type=1&amp;item=33&amp;theater=AMERICAS">6345</a>


                    </font>
                </div>
            </td>


            <td width="50"
                bgcolor="#FFFFFF"
                align="right">
                <div align="right">
                    <font size="2"
                          face="Arial, Helvetica, sans-serif">


                        1523


                    </font>
                </div>
            </td>


            <!-- row data end -->
        </tr>


        </tbody>
    </table>
    <p>This information is Cisco Confidential.</p>
    <p>Send in your comments/questions to <a href="http://www.cisco.com/go/cs"> Cisco Customer Service Team</a>.</p>
</article>
<script>

</script>
