<article class="">
    <h2>Partner ID Map Report</h2>

    <p>This report lists the PDB BE ID, PDB BEGEO ID, PDB BEC IDS along with their corresponding PGTMV IDS and the Country name. The partner
       name is excluded as the sole purpose of this report is to aid the teams to map between the PDB & PGTMV IDs.</p>
    <p>The data refreshes on a daily basis.</p>
    <p>To download the report please click on the below tab.</p>
    <button>Download</button>
    <p>This information is Cisco Confidential.</p>
    <p>Send in your comments/questions to <a href="http://www.cisco.com/go/cs"> Cisco Customer Service Team</a>.</p></article>
<script>

</script>

