<article class="">
  <h2>Company Reports</h2>
  <p>extracted on
    <time datetime="2016-03-02 05:01:52+08:00">03/02/2016 05:01:52 PST</time>
  </p>
  <p>
    Legends:<br/>
    AMERICAS - The Americas<br/>
    APJ - Asia Pacific and Japan<br/>
    EMEAR - Europe, Middle East, Africa, and Russia<br/>
    GC - Greater China<br/>
  </p>
  <h3>Company Counts</h3>
  <table>
    <tbody>
    <tr>
      <td height="2"
          rowspan="2"
          width="245"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            <b>Report</b>
          </font>
        </div>
      </td>
      <td colspan="6"
          height="2"
          bgcolor="#FFFFFF">
        <p align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            <b>Theater</b>
          </font>
        </p>
      </td>
    </tr>
    <!-- table title start -->
    <tr>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            APJ
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            GC
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            EMEAR
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            AMERICAS
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            TOTAL
          </font>
        </div>
      </td>


    </tr>
    <!-- table title end -->


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Localized Partner Reports
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/localizedExcelView.do?type=1&amp;item=1&amp;theater=GC&amp;downloadType=downloadTypeExcel">5017</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            5017


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>

    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Localized Site Reports
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/localizedExcelView.do?type=1&amp;item=2&amp;theater=GC&amp;downloadType=downloadTypeExcel">21295</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            21295


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    </tbody>
  </table>
  <small>*This file exceeds the Excel limitation of 65,000 rows. You will need to download & save the report in Text format. Proceed to
         split the file (using word or notepad) and then reopen in Excel.
  </small>

  <p>This information is Cisco Confidential. For security reasons detailed report of the certified contacts is not provided.</p>
  <p>Send in your comments/questions to <a href="http://www.cisco.com/go/cs"> Cisco Customer Service Team</a>.</p>
</article>
<script>

</script>

