<article class="">
  <h2>Data Integrity is a Must</h2>
  <p> Welcome to the Partner Database (PDB) Analysis Reports web site.
      The reports reflect the quality of data in PDB, and will help maintain data integrity
      by offering its administrators quick access to data analysis reports.
      Our strategies for maintaining clean, up to date Partner information is as follows:</p>
      <ul>
        <li>Stop bad data from entering the database</li>
        <li>Self service data maintenance by those closest to the data</li>
      </ul>
  <p>The <a id="getlogUrl" href="http://tools.cisco.com/WWChannels/GETLOG/welcome.do"> Partner Self Service Tool</a> is available to Partners, CAMs &amp; Cisco Admins;
     to assist them in their data administration functions.
  </p>
  <p>Information in these reports are segmented by:</p>
  <ul>
    <li>Report Type (Company,Contact,Certification or CAM)</li>
    <li>Theater (APJ, GC, EMEAR, AMERICAS)</li>
    <li>Data error type</li>
  </ul>
  <p>Send in your comments/questions to <a href="http://www.cisco.com/go/cs"> Cisco Customer Service Team</a>.</p>
</article>
<script>

</script>