<article class="">
  <h2>Company Reports</h2>
  <p>extracted on
    <time datetime="2016-03-02 05:01:52+08:00">03/02/2016 05:01:52 PST</time>
  </p>
  <p>
    Legends:<br/>
    AMERICAS - The Americas<br/>
    APJ - Asia Pacific and Japan<br/>
    EMEAR - Europe, Middle East, Africa, and Russia<br/>
    GC - Greater China<br/>
  </p>
  <h3>Master Reports Counts</h3>
  <table>

    <tbody>
    <tr>
      <td height="2"
          width="180"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            <strong>Report Name</strong>
            <!--<b>Report Name</b>-->
          </font>
        </div>
      </td>
      <td width="80"
          height="2"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            <!-- <b>Count</b>-->
            <strong>Count</strong>
          </font>
        </div>
      </td>
    </tr>
    <!-- table title start -->


    <tr>
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Active Qualifications
          </font>
        </div>
      </td>

      <td width="80"
          bgcolor="#FFFFFF"
          align="right">
        <div align="center">
          <font size="2"
                face="Arial, Helvetica, sans-serif">

            <a href="./reports/action/mdExcelView.do?type=2">1402</a>

          </font>
        </div>
      </td>

    </tr>


    </tbody>

  </table>
  <small>Active Qualification -- List of Current Active Qualifications of Partners.</small>
  <p>This information is Cisco Confidential. For security reasons a detailed report of the certified contacts is not provided.</p>
  <p>Send in your comments/questions to <a href="http://www.cisco.com/go/cs"> Cisco Customer Service Team</a>.</p>
</article>
<script>

</script>

