<article class="">
  <h2>Company Reports</h2>
  <p>extracted on
    <time datetime="2016-03-02 05:01:52+08:00">03/02/2016 05:01:52 PST</time>
  </p>
  <p>
    Legends:<br/>
    AMERICAS - The Americas<br/>
    APJ - Asia Pacific and Japan<br/>
    EMEAR - Europe, Middle East, Africa, and Russia<br/>
    GC - Greater China<br/>
  </p>
  <h3>Company Counts</h3>
  <table>
    <tbody>
    <tr>
      <td height="2"
          rowspan="2"
          width="245"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            <b>Item</b>
          </font>
        </div>
      </td>
      <td colspan="6"
          height="2"
          bgcolor="#FFFFFF">
        <p align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            <b>Theater</b>
          </font>
        </p>
      </td>
    </tr>
    <!-- table title start -->
    <tr>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            APJ
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            GC
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            EMEAR
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            AMERICAS
          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF">
        <div align="center">
          <font size="3"
                face="Arial, Helvetica, sans-serif">
            TOTAL
          </font>
        </div>
      </td>


    </tr>
    <!-- table title end -->


    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Locations without a Sales Rep
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=7&amp;theater=APJ&amp;dynamicItemValue=XYZX">18</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=7&amp;theater=EMEAR&amp;dynamicItemValue=XYZX">45</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=7&amp;theater=AMERICAS&amp;dynamicItemValue=XYZX">42</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            105


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>

    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Locations without a CAM
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=8&amp;theater=APJ&amp;dynamicItemValue=XYZX">47032</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=8&amp;theater=GC&amp;dynamicItemValue=XYZX">14939</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=8&amp;theater=EMEAR&amp;dynamicItemValue=XYZX">75118</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=8&amp;theater=AMERICAS&amp;dynamicItemValue=XYZX">62532</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            199621


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>

    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Locations with multiple CAMS
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=9&amp;theater=APJ&amp;dynamicItemValue=XYZX">3956</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=9&amp;theater=GC&amp;dynamicItemValue=XYZX">2614</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=9&amp;theater=EMEAR&amp;dynamicItemValue=XYZX">14461</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=9&amp;theater=AMERICAS&amp;dynamicItemValue=XYZX">35727</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            56758


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>

    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            CAMS with no location
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=10&amp;theater=APJ&amp;dynamicItemValue=XYZX">57</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=10&amp;theater=GC&amp;dynamicItemValue=XYZX">15</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=10&amp;theater=EMEAR&amp;dynamicItemValue=XYZX">126</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=10&amp;theater=AMERICAS&amp;dynamicItemValue=XYZX">30</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            228


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>

    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Locations without a CAM-GNT
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=35&amp;theater=APJ&amp;dynamicItemValue=XYZX">64417</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=35&amp;theater=GC&amp;dynamicItemValue=XYZX">22068</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=35&amp;theater=EMEAR&amp;dynamicItemValue=XYZX">113653</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=35&amp;theater=AMERICAS&amp;dynamicItemValue=XYZX">108143</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            308281


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>

    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Locations with multiple CAM-GNTs
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=36&amp;theater=EMEAR&amp;dynamicItemValue=XYZX">1200</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=36&amp;theater=AMERICAS&amp;dynamicItemValue=XYZX">3870</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            5070


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>

    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            CAM-GNTs with no location
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=37&amp;theater=EMEAR&amp;dynamicItemValue=XYZX">2</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            2


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>

    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Locations without a CAM-FED
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=38&amp;theater=APJ&amp;dynamicItemValue=XYZX">64743</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=38&amp;theater=GC&amp;dynamicItemValue=XYZX">22089</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=38&amp;theater=EMEAR&amp;dynamicItemValue=XYZX">115858</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=38&amp;theater=AMERICAS&amp;dynamicItemValue=XYZX">114776</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            317466


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>

    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Locations without a CAM-SP
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=41&amp;theater=APJ&amp;dynamicItemValue=XYZX">64743</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=41&amp;theater=GC&amp;dynamicItemValue=XYZX">22089</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=41&amp;theater=EMEAR&amp;dynamicItemValue=XYZX">115858</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=41&amp;theater=AMERICAS&amp;dynamicItemValue=XYZX">113871</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            316561


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>

    <tr>

      <!-- row title start -->
      <td width="180"
          bgcolor="#FFFFFF">
        <div align="left">
          <font size="2"
                face="Arial, Helvetica, sans-serif">
            Locations with multiple CAM-SPs
          </font>
        </div>
      </td>

      <!-- row title end -->


      <!-- row data start -->


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            0

          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            <a href="./reports/action/camExcelView.do?type=3&amp;item=42&amp;theater=AMERICAS&amp;dynamicItemValue=XYZX">1091</a>


          </font>
        </div>
      </td>


      <td width="50"
          bgcolor="#FFFFFF"
          align="right">
        <div align="right">
          <font size="2"
                face="Arial, Helvetica, sans-serif">


            1091


          </font>
        </div>
      </td>


      <!-- row data end -->
    </tr>


    </tbody>
  </table>
  <p>This information is Cisco Confidential. For security reasons a detailed report of the certified contacts is not provided.</p>
  <p>Send in your comments/questions to <a href="http://www.cisco.com/go/cs"> Cisco Customer Service Team</a>.</p>
</article>
<script>

</script>

