<div class="uix center aligned contained block" data-ng-class="{maxWidth : obj.toggleMaxWidth == true} ">
    <input class="uix toggle-state" type="checkbox" aria-hidden="true" hidden="" id="defaultDismissMsgState">
    <div class="uix error iconic dismissible message">
        <i class="uix message-icon"></i>
        <label class="uix right-floated dismiss" for="defaultDismissMsgState"></label>
        <h1 class="uix message-title">This is a dismissible error message</h1>
        <div class="uix right-floated">
            <label for="dont-show" class="uix "><input id="dont-show" type="checkbox"> Don't Show Again</label>
        </div>
        <p>Etiam interdum cursus lacinia. <a href="#">In non elit pharetra</a>, sodales lorem ac, sodales sapien.
        </p>
    </div>
</div>

<!--<div class="uix center aligned contained block" data-ng-class="{maxWidth : obj.toggleMaxWidth == true} ">-->
<!--<input class="uix toggle-state" type="checkbox" aria-hidden="true" hidden="" id="defaultDismissMsgState2">-->
<!--<div class="uix warning iconic dismissible message">-->
<!--<i class="uix message-icon"></i>-->
<!--<label class="uix right-floated dismiss" for="defaultDismissMsgState2"></label>-->
<!--<h1 class="uix message-title">This is a dismissible warning message</h1>-->
<!--<div class="uix right-floated">-->
<!--<label for="dont-show" class="uix "><input id="dont-show" type="checkbox"> Don't Show Again</label>-->
<!--</div>-->
<!--<p>Etiam interdum cursus lacinia. <a href="#">In non elit pharetra</a>, sodales lorem ac, sodales sapien.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->

<!--<div class="uix center aligned contained block" data-ng-class="{maxWidth : obj.toggleMaxWidth == true} ">-->
<!--<input class="uix toggle-state" type="checkbox" aria-hidden="true" hidden="" id="defaultDismissMsgState3">-->
<!--<div class="uix informative iconic dismissible message">-->
<!--<i class="uix message-icon"></i>-->
<!--<label class="uix right-floated dismiss" for="defaultDismissMsgState3"></label>-->
<!--<h1 class="uix message-title">This is a dismissible information message</h1>-->
<!--<div class="uix right-floated">-->
<!--<label for="dont-show" class="uix "><input id="dont-show" type="checkbox"> Don't Show Again</label>-->
<!--</div>-->
<!--<p>Etiam interdum cursus lacinia. <a href="#">In non elit pharetra</a>, sodales lorem ac, sodales sapien.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->

<!--<div class="uix center aligned contained block" data-ng-class="{maxWidth : obj.toggleMaxWidth == true} ">-->
<!--<input class="uix toggle-state" type="checkbox" aria-hidden="true" hidden="" id="defaultDismissMsgState3">-->
<!--<div class="uix iconic dismissible message">-->
<!--<i class="uix message-icon"></i>-->
<!--<label class="uix right-floated dismiss" for="defaultDismissMsgState3"></label>-->
<!--<h1 class="uix message-title">This is a default dismissible message</h1>-->
<!--<div class="uix right-floated">-->
<!--<label for="dont-show" class="uix "><input id="dont-show" type="checkbox"> Don't Show Again</label>-->
<!--</div>-->
<!--<p>Etiam interdum cursus lacinia. <a href="#">In non elit pharetra</a>, sodales lorem ac, sodales sapien.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->