<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="This site is Cisco's Partner Portal. Where partners have all of Cisco's sales tools at their disposal.">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel='stylesheet' href='/css/uix.css' />
<link rel='stylesheet' href='/css/fontawesome.css' />
<link rel='stylesheet' href='/css/partnerbar.css' />
<link rel='stylesheet' href='/css/accordion-sidebar.css' />
<link rel='stylesheet' href='/css/legalfooter.css' />
<link rel='stylesheet' href='/css/style.css' />
<!-- App Specific Styles get loaded by the application. Can Get Dynamically loaded into the HEAD -->
<!--<link rel='stylesheet' href='/css/app-specific-styles.css' />-->



