<div class="uix block">
    <input class="uix toggle-state"
           type="checkbox"
           aria-hidden="true"
           hidden=""
           id="defaultDismissMsgStateSys">
    <div class="uix warning iconic dismissible message">
        <i class="uix message-icon"></i>
        <label class="uix right-floated dismiss"
               for="defaultDismissMsgStateSys"></label>
        <h1 class="uix message-title">This is a mock stack environment.</h1>
        <p>It is a place to test ideas and is an example for the next gen Channels Partner Space. <a href="#">Learn more about this mock stack</a>.
            <!--<div class="uix right-floated">-->
                <!--<label for="dont-show" class="uix "><input id="dont-show" type="checkbox"> Don't Show Again</label>-->
            <!--</div>-->
        </p>
    </div>
</div>